.clickImage{
    margin: 0 auto 2em auto;
    display: block;
    border: 4px solid whitesmoke;
    border-radius: 2px;        
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    cursor: pointer;
}

.infoBar{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1071;
    padding: 0 1em;
    margin-bottom: 1em;
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background: #0f4b71;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    padding-bottom: 1em;
}

p{
    display: inline;
}

h1{
    font-weight: bold;
}

